@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Open Sans", sans-serif;
  --clr-red: #f51651;
  --clr-light: #f0e9e9;
  --clr-purple: #9031f5;
  --clr-cyan: #3cb9fc;
  --clr-yellow: #fee440;
  --clr-blue: #1150a8;
  --clr-green: #00f5d4;
  --clr-selection-bg: #cb3d92;
  --clr-selection-text: #f4f0f0;
  --clr-background: #0a0a0a;
}

* {
  color: white;
}

html {
  scroll-behavior: smooth;
  background: var(--clr-background);
  font-family: var(--font-family);
}

@layer base {
  .text-stroke {
    -webkit-text-stroke: #1e1e1e;
    -webkit-text-stroke-width: 2px;
  }

  .portion-block {
    border-radius: 50%;
    clip: rect(0px, 350px, 150px, 120px);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .circle {
    border-radius: 50%;
    clip: rect(0px, 300px, 300px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
}

::selection {
  background: var(--clr-selection-bg);
  color: var(--clr-selection-text);
}

@layer base {
  @font-face {
    font-family: "AstroSpace";
    font-weight: 400;
    src: url("/fonts/astro-space/AstroSpace.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 900;
    src: url("/fonts/montserrat/MontserratBlack.woff2") format("woff2");
    font-display: swap;
    font-style: black;
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("/fonts/montserrat/MontserratBold.woff2") format("woff2");
    font-display: swap;
    font-style: bold;
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 800;
    src: url("/fonts/montserrat/MontserratExtraBold.woff2") format("woff2");
    font-display: swap;
    font-style: "extra-bold";
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("/fonts/montserrat/MontserratExtraLight.woff2") format("woff2");
    font-display: swap;
    font-style: "extra-light";
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("/fonts/montserrat/MontserratLight.woff2") format("woff2");
    font-display: swap;
    font-style: light;
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("/fonts/montserrat/MontserratMedium.woff2") format("woff2");
    font-display: swap;
    font-style: medium;
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("/fonts/montserrat/MontserratRegular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 100;
    src: url("/fonts/montserrat/MontserratThin.woff2") format("woff2");
    font-display: swap;
    font-style: "extra-light";
  }
}
